@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --black: #000;
  --light-gray: #bdbdbd;
  --arial: Arial, Helvetica, sans-serif;
  --PT-serif: "PT Serif", serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 120px;
  align-items: center;
}

.wrapper1 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to left bottom,
    #94f1f9,
    #9aebff,
    #b7e1ff,
    #ded4ff,
    #ffc8f8
  );
  height: 700px;
  width: 1200px;
  border-radius: 0px 100px 100px 100px;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.288);
  margin: 0 50px;
  padding: 50px;
}
.wrapper2 {
  background-color: #fff;
  text-align: center;
  padding: 50px 100px;
  border-radius: 0px 100px 100px 100px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.288);
  margin: 0 auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.header-box h1 {
  font-size: calc(100 / 16 * 1rem);
  font-family: "Bebas Neue", cursive;
}

.header-box {
  width: 100%;
  height: 100%;
  position: absolute;
  width: 400px;
}

.header-stack-top img {
  width: 160px;
  margin: 25px 0px 0px 120px;
}

p {
  font-family: "Bebas Neue", cursive;
  color: #000;
}

#seconds,
#tens {
  font-size: 2em;
}
button {
  border-radius: 0px 25px 25px 25px;
  background-image: linear-gradient(
    to left bottom,
    #94f1f9,
    #9aebff,
    #b7e1ff,
    #ded4ff,
    #ffc8f8
  );
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: calc(20 / 16 * 1rem);
  font-family: "Bebas Neue", cursive;
  padding: 10px 10px;
  width: 150px;
  margin: 10px;
  outline: none;
  border: none;
  margin-top: 40px;
}
button:hover {
  opacity: 0.8;
}
